*pyc
tmp.doc
tmp.txt
*.upload
*.sqlite
budget/budget_equivalents.jsons
budget/budgets-noequiv.jsons
budget/connections/budget_equivalents.jsons
changes/changegroups-fixed-titles.jsons
changes/changegroups.jsons
changes/mof-data/changegroups*jsons
changes/obsolete
